prj_prefix = "your-porject-name"
region_api = "us-east-1"
region_site = "us-east-1"
route53_zone_id = "Set your route53 zone id"
domain_api_prd = "your-domain-api.example.com"
domain_api_dev = "your-domain-api-dev.example.com"
