prj_prefix = "your-porject-name"
region_api = "ap-northeast-1"
region_acm = "us-east-1"
route53_zone_id = "Set your route53 zone id"
domain_api_prd = "rd.example.com"
domain_api_dev = "rd-dev.example.com"
