# For deploy
export AWS_PROFILE="your-profile-name"
export AWS_REGION="us-east-1"

# For App
#export APP_ROOT="/api"
#export ACCEPT_SERVICE_IDS="hoge,fuga"
#export ACCEPT_TYPES="like,dislike"

# For Local development
SERVICE="your-project"
STAGE="dev"
export PRJ_PREFIX="${SERVICE}-${STAGE}"
export BASE_URL="https://example.com/api"
export IS_LOCAL=0
export AUTH_TOKEN="your-token"

